/* estilos de administracion */

.sidebar__menu{
    width: 240px;
    height: 100vh;
    background-color: var(--color-gris-oscuro);
    position: fixed;
}

.sidebar__menu ul li{
    padding: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}
.sidebar__menu ul li:hover{
    background-color: var(--color-gris-oscuro-claro);
    transition: all 0.5s ease;
}


.sidebar__menu ul li a{
    color: var(--color-blanco);
    font-size: 1.2rem;
}



.sidebar__contenido{
    position: relative;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.sidebar__contenido .sidebar__contenido__title{
    width: 100%;
    height: 60px;
    background-color: var(--color-gris-oscuro);
    padding: 1rem 2rem 0 2rem;
    color: var(--color-blanco);
    font-size: 24px;
}

.sidebar__contenido .sidebar__contenido__body{
    padding: 1rem 2rem;
}


@media(max-width: 800px){
    .sidebar__menu{
        width: 60px;
    }
    .sidebar__menu ul li a .sidebar__menu__title{
        display: none;
    }

    .sidebar__contenido{
        width: calc(100% - 60px);
        left: 60px;
    }
}