/* estilos generales del sitio */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
:root{
    --color-azul: #0a47fe;
    --color-azul-oscuro: #051265;
    --color-rojo: red;
    --color-blanco: white;
    --color-negro: #222;
    --color-verde: #10ae22;
    --color-gris-oscuro: #1f2937;
    --color-gris-oscuro-claro: #28374e;
}
.texto__azul{
    color: var(--color-azul) !important;
}
.texto__rojo{
    color: var(--color-rojo);
}

.text-justify{
    text-align: justify;
}