.sidebar__admin{
    position: fixed;
    height: 100vh;
    width: 240px;
    background-color: var(--color-gris-oscuro);
}
.sidebar__admin .logo__details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar__admin .logo__details i{
    font-size: 28px;
    font-weight: 500;
    min-width: 60px;
    text-align: center;
}
.sidebar__admin .logo__details .logo__name{
    font-size: 24px;
    font-weight: 500;
}

.sidebar__admin .logo__details i,
.sidebar__admin .logo__details .logo__name,
.sidebar__admin .nav__links li a i,
.sidebar__admin .nav__links li a .link__name
{
    color: var(--color-blanco);
}

.sidebar__admin .nav__links{
    margin-top: 16px;
}

.sidebar__admin .nav__links li{
    height: 50px;
    width: 100%;
    list-style: none;
}
.sidebar__admin .nav__links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    cursor: pointer;
}
.sidebar__admin .nav__links li a:hover{
    background-color: var(--color-gris-oscuro-claro);
}
.sidebar__admin .nav__links li a i{
    min-width: 60px;
    text-align: center;
    font-size: 30px;
}
.sidebar__admin .nav__links li a .link__name{
    font-size: 18px;
    font-weight: 500;
}

.section__home{
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
}

.section__home nav{

    height: 80px;
    background-color: var(--color-gris-oscuro);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-blanco);
}
.section__home nav .sidebar__button{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.section__home nav .sidebar__button i{
    font-size: 40px;
    margin-right: 10px;
}

.section__home nav .sidebar__profile__details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    font-size: 20px;
}

.section__home .sidebar__content{
    padding: 2rem;
}
