/* estilos generales del sitio */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body,
input,
textarea,
button{
    font-family: "Space Grotesk", sans-serif;
}
:root{
    --color-azul: #0a47fe;
    --color-rojo: red;
    --color-blanco: white;
    --color-negro: #222;
    --color-verde: #10ae22;
}
.texto__azul{
    color: var(--color-azul) !important;
}
.texto__rojo{
    color: var(--color-rojo);
}
